.screen
{
  background-color: rgb(27, 26, 26) ;
  opacity: 0.9;
  margin-top: 20px;
  padding: 40px;
  color: whitesmoke;
}

.image-element img
{
  transition: transform .2s ease-in-out;
}

.image-element img:hover
{
  filter: sepia(50%) brightness(110%);
  transform: scale(1.05);
}
